Port				22
HostKey                         /etc/ssh/ssh_host_rsa_key
HostKey                         /etc/ssh/ssh_host_ecdsa_key
HostKey                         /etc/ssh/ssh_host_ed25519_key
LoginGraceTime                  1m
PermitRootLogin                 prohibit-password
PubkeyAuthentication            yes
AuthorizedKeysFile              .ssh/authorized_keys
HostbasedAuthentication         no
PasswordAuthentication          yes
PermitEmptyPasswords            no
ChallengeResponseAuthentication no
KerberosAuthentication          no
GSSAPIAuthentication            no
UsePAM                          no
Compression                     no
Subsystem                       sftp    /usr/lib/sftp-server
