# ~/.gitignore

/*
!/.*

# Temporary Files
*.pid
.*_history
.cache/
.dbus/
.emulator_console_auth_token
.esd_auth
.face*
.ICEauthority
.ivy2/
.lesshst
.pki/
.pub-cache/
.stagehand
.sudo_as_admin_successful
.viminfo
.vscode/
.wget-hsts
.Xauthority
.xsession-errors*

# Private
.aws
.azure
.bin/
.cert/
.config/micro/backups/
.config/micro/buffers/
.fetchmailrc
.gnupg/
.password-store/
.ssh/

# Standard Config Files
.[Aa]ndroid*/
.atom/
.bogofilter/
.clojure/
.config/go/
.dart*/
.docker/
.dropbox*/
.dmrc
.flutter*
.gconf/
.gnome/
.go/
.gradle/
.gtkrc-2.0
.icons/
.[Ii]dea*/
.ipython/
.java/
.jupyter/
.kde/
.lein/
.lesshst
.local/
.m2/
.mozilla/
.muttrc
.nbi/
.netbeans*/
.node/
.npm/
.nvm/
.ploomber/
.themes/
.thunderbird/
.vim/pack/
.virtualenvs
.vscode-server/
