# ~/.gitconfig

[user]
	name = Vincent Frentzel
	email = vincent@frentzel.xyz
	signingkey = 9069A4031F1D452C!
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[merge]
	conflictStyle = zdiff3
[rerere]
	enabled = true
[diff]
	algorithm = histogram
	colorMoved = default
[fetch]
	prune = true
[branch]
	sort = -committerdate
[column]
	ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --graph --oneline --decorate --all
	last = log -1 HEAD
	unstage = reset HEAD --
	amend = commit --amend --no-edit
