# ~/.gitconfig

[user]
	name = Vincent Frentzel
	email = vincent@frentzel.xyz
	signingkey = 9069A4031F1D452C!
[push]
	default = simple
[pull]
	rebase = false
[init]
	defaultBranch = master
[commit]
	gpgsign = true
