# ~/.gitignore

# Temporary Files
*.pid
.bash_history
.cache/
.dbus/
.ICEauthority
.sudo_as_admin_successful
.Xauthority
.xsession-errors*

# Private
.bin/
.gnupg/*.gpg*
.gnupg/gpg-agent.conf
.gnupg/private-keys-v1.d/
.gnupg/random_seed
.pki/
.ssh/

# Standard Config Files
.config/
.dmrc
.emacs.d/
.gconf/
.go/
.gnome/
.local/
.node/
.npm/
.thunderbird/

# Storage
Desktop/
Downloads/
Projects/
