[Unit]
Description=Kodi Launch Service
After=default.target graphical.target getty.target sound.target

[Service]
Type=simple
User=kodi
Restart=always
RestartSec=3s
ExecStart=/usr/bin/xinit /usr/bin/kodi --standalone -- -nocursor

[Install]
WantedBy=default.target
